<div
  class="h-screen p-4 bg-light-bg-second dark:bg-dark-bg-second text-basic-text dark:text-dark-text shadow-inner-left-top"
>
  <div class="flex justify-start gap-4">
    <button
      [routerLink]="['sign-in']"
      appBounceOnClick
      class="py-2 px-4 bg-hover-bg text-white rounded shadow-md hover:bg-accent-text transition disabled:opacity-50"
    >
      Sign In
    </button>
    <button
      [routerLink]="['sign-up']"
      appBounceOnClick
      class="py-2 px-4 bg-hover-bg text-white rounded shadow-md hover:bg-accent-text transition disabled:opacity-50"
    >
      Sign Up
    </button>
    <button
      (click)="authService.logout()"
      *ngIf="user().authStatus"
      appBounceOnClick
      class="py-2 px-4 bg-hover-bg text-white rounded shadow-md hover:bg-accent-text transition disabled:opacity-50"
    >
      Logout
    </button>
  </div>

  <router-outlet />
</div>
