<div class="flex flex-col items-center h-screen">
  <h2 class="m-4 text-4xl font-bold">Login</h2>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="max-w-lg w-full bg-light-bg dark:bg-dark-bg p-6 rounded-lg shadow-md"
  >
    <div class="mb-4">
      <label for="email" class="block font-semibold mb-2">Email:</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="w-full p-2 border border-light-bg-second dark:border-dark-bg-second rounded focus:outline-none focus:ring-2 focus:ring-hover-bg bg-light-bg-second dark:bg-dark-bg-second"
      />
      <div
        *ngIf="email?.invalid && email?.touched"
        class="mt-1 text-sm text-red-500"
      >
        <small *ngIf="email?.errors?.['required']">Email is required.</small>
        <small *ngIf="email?.errors?.['email']"
          >Please enter a valid email address.</small
        >
      </div>
    </div>

    <div class="mb-4">
      <label for="password" class="block font-semibold mb-2">Password:</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="w-full p-2 border border-light-bg-second dark:border-dark-bg-second rounded focus:outline-none focus:ring-2 focus:ring-hover-bg bg-light-bg-second dark:bg-dark-bg-second"
      />
      <div
        *ngIf="password?.invalid && password?.touched"
        class="mt-1 text-sm text-red-500"
      >
        <small *ngIf="password?.errors?.['required']"
          >Password is required.</small
        >
        <small *ngIf="password?.errors?.['minlength']"
          >Password must be at least 8 characters long.</small
        >
        <small *ngIf="password?.errors?.['pattern']"
          >Password must contain at least one uppercase letter, one lowercase
          letter, one number, and one special character.</small
        >
      </div>
    </div>

    <div class="flex justify-start items-center gap-4">
      <button
        appBounceOnClick
        type="submit"
        [disabled]="loginForm.invalid"
        class="py-2 px-4 bg-hover-bg text-white rounded shadow-md hover:bg-accent-text transition disabled:opacity-50"
      >
        Sign In
      </button>
      <span *ngIf="loginForm.errors?.['serverError']" class="text-red-500">
        {{ loginForm.errors?.['serverError'] }}
      </span>
    </div>
  </form>
</div>
